<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h5>
              Hello, <strong>{{ currentUser?.name }}</strong>
            </h5>
          </div>
          <div class="col-6">
            <div class="float-right">
              <div container="body" ngbDropdown>
                <button class="btn  btn-outline-light text-dark" ngbDropdownToggle>Sidebar Settings</button>
                <div ngbDropdownMenu>
                  <div class="px-4 py-3">
                    <div class="form-group row">
                      <label class="col-4 col-form-label">Size</label>
                      <div class="col-8">
                        <select
                          (change)="changeSidebarSizeEmitter.emit(sidebarSize)"
                          [(ngModel)]="sidebarSize"
                          class="form-control form-control-sm"
                        >
                          <option value="30">30%</option>
                          <option value="50">50%</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-check">
                      <input
                        type="checkbox"
                        (change)="toggleKeepSidebarOpenEmitter.emit(keepSidebarOpen)"
                        [(ngModel)]="keepSidebarOpen"
                        class="form-check-input"
                        id="sidebarOpenCheckbox"
                      />
                      <label class="form-check-label" for="sidebarOpenCheckbox">
                        Keep sidebar open
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" [(ngModel)]="hideSpectatorsChat" class="form-check-input" id="hideSpectatorChatCheckbox" />
                      <label class="form-check-label" for="hideSpectatorChatCheckbox">
                        Mute specs
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" [(ngModel)]="hideServerChat" class="form-check-input" id="hideServerChatCheckbox" />
                      <label class="form-check-label" for="hideServerChatCheckbox">
                        Mute server
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form novalidate name="newMessageForm" (ngSubmit)="sendMessageToGameChat()">
          <input type="text" name="newMessage" autocomplete="off" class="form-control" placeholder="New Message" [(ngModel)]="newMessage" />
        </form>
      </div>
      <div class="card-body">
        <p class="card-text" [hidden]="messages.length > 0">No messages</p>
        <p
          class="card-text"
          [hidden]="getChatMessageHidden(message)"
          [ngClass]="getChatMessageClass(message)"
          *ngFor="let message of messages"
        >
          <strong> [{{ message.createdUtc | date: 'shortTime' }} | {{ message.username }}]: </strong> {{ message.text }}
        </p>
      </div>
    </div>
  </div>
</div>
