<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">
        <h5>
          Hello, <strong>{{ currentUser?.name }}</strong>
          <small class="float-right">
            | Mute specs <input type="checkbox" [(ngModel)]="hideSpectatorsChat" /> | Mute server
            <input type="checkbox" [(ngModel)]="hideServerChat" />
          </small>
        </h5>
        <form novalidate name="newMessageForm" (ngSubmit)="sendMessageToGameChat()">
          <input type="text" name="newMessage" autocomplete="off" class="form-control" placeholder="New Message" [(ngModel)]="newMessage" />
        </form>
      </h5>
      <div class="card-body">
        <p class="card-text" [hidden]="messages.length > 0">No messages</p>
        <p
          class="card-text"
          [hidden]="getChatMessageHidden(message)"
          [ngClass]="getChatMessageClass(message)"
          *ngFor="let message of messages"
        >
          <strong> [{{ message.createdUtc | date: 'shortTime' }} | {{ message.username }}]: </strong> {{ message.text }}
        </p>
      </div>
    </div>
  </div>
</div>
