<ngx-emoji  (emojiClick)="addEmoji($event)" emoji="sunglasses" set="emojione" size="18"></ngx-emoji>
<ngx-emoji  (emojiClick)="addEmoji($event)" emoji="kissing_heart" set="emojione" size="18"></ngx-emoji>
<ngx-emoji  (emojiClick)="addEmoji($event)" emoji="santa" set="emojione" size="18"></ngx-emoji>
<ngx-emoji  (emojiClick)="addEmoji($event)" emoji="sleeping" set="emojione" size="18"></ngx-emoji>
<ngx-emoji  (emojiClick)="addEmoji($event)" emoji="joy" set="emojione" size="18"></ngx-emoji>
<ngx-emoji  (emojiClick)="addEmoji($event)" emoji="ghost" set="emojione" size="18"></ngx-emoji>
