<span class="cursor-pointer ml-2" (click)="addEmoji('😍')">😍</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('😘')">😘</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('😴')">😴</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('😎')">😎</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('😭')">😭</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('😈')">😈</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('😂')">😂</span>
<span class="cursor-pointer ml-2" (click)="addEmoji('👶')">👶</span>