<div class="row">
  <div class="col-12">
    <div class="alert alert-primary">Available tournaments ({{ availableTournaments.length }}):</div>
    <button
      [class.btn-danger]="tournament.tournamentStarted"
      class="btn btn-primary btn-block"
      *ngFor="let tournament of availableTournaments"
      (click)="joinTournament(tournament)"
    >
      <span class="mx-2" *ngIf="tournament.isPasswordProtected">&#9919;</span>
      <span> {{ tournament.host }} </span>
      <span> - </span>
      <span [hidden]="tournament.tournamentStarted">({{ tournament.numberOfPlayers }}/{{ tournament.requiredNumberOfPlayers }})</span>
      <span [hidden]="!tournament.tournamentStarted">(in progress})</span>
    </button>
  </div>
</div>
