<div class="row " *ngIf="availableTournaments.length > 0">
  <div class="col-12">
    <div class="alert alert-primary">Tournaments ({{ availableTournaments.length }}):</div>
    <div class="list-group">
      <button
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        (click)="joinTournament(tournament)"
        *ngFor="let tournament of availableTournaments"
      >
        <div class="ellipsis-text" [title]="tournament.name">
          <span *ngIf="tournament.isPasswordProtected">&#9919;</span>
          <span> {{ tournament.name | titlecase}} </span>
        </div>
        <span class="badge badge-pill" [ngClass]="getBadgeClass(tournament)">
          <span [hidden]="tournament.tournamentStarted">({{ tournament.numberOfPlayers }}/{{ tournament.requiredNumberOfPlayers }})</span>
          <span [hidden]="!tournament.tournamentStarted">[{{ tournament.numberOfPlayers }}]</span>
        </span>
      </button>
    </div>
  </div>
</div>
