<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Input password</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <h6>Please input the password for the following {{ isTournament ? 'tournament' : 'game' }}:</h6>
      <br>
      <p>
        <strong>{{ isTournament ? 'Name' : 'Host' }}: </strong> {{ name }}
      </p>
      <p>
        <strong> {{ isTournament ? 'Tournament' : 'Game' }} started: </strong> {{ started }}
      </p>
      <p><strong>Number of players: </strong> {{ numberOfPlayers }}/{{ maxNumberOfPlayers }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          aria-describedby="password"
          placeholder="Enter password"
        />
        <small id="password" class="form-text text-muted">Passwords are case-sensitive.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
      <button (click)="confirm()" [disabled]="!password" class="btn btn-info btn-block">Confirm</button>
    </div>
  </div>
</div>
