<div class="row scrollable-div-y" [ngClass]="heightClassString">
  <div class="col-12">
    <div class="card">
      <div class="card-header sticky-top bg-light border-top">
        <div class="row">
          <div class="col-12">
            <h6 class="ml-2">
              Hello, <strong>{{ currentUser.name }}</strong>
            </h6>
          </div>
        </div>
        <form novalidate name="newMessageForm" (ngSubmit)="sendMessageAllChat($event)">
          <input
            type="text"
            name="newMessage"
            [mention]="onlineUsers"
            autocomplete="off"
            class="form-control"
            placeholder="New Message"
            [(ngModel)]="newMessage"
          />
        </form>
      </div>
      <div class="card-body">
        <p class="card-text" [hidden]="messages.length > 0">No messages</p>
        <p class="card-text" [ngClass]="getChatMessageClass(message)" *ngFor="let message of messages">
          <strong>[{{ message.createdUtc | date: 'shortTime' }} | {{ message.username }}]: </strong>
          <span [outerHTML]="message.text | linkify"></span>
        </p>
      </div>
    </div>
  </div>
</div>
