<div class="row">
  <div class="col-12">
    <ngb-tabset>
      <ngb-tab title="Game chat" *ngIf="activeGame != null">
        <ng-template ngbTabContent>
          <app-game-chat></app-game-chat>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Tour. chat" *ngIf="activeTournament != null">
        <ng-template ngbTabContent>
          <app-tournament-chat></app-tournament-chat>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="All chat">
        <ng-template ngbTabContent>
          <app-all-chat></app-all-chat>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Misc.">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-6">
              <app-game-spectators *ngIf="activeGame != null"></app-game-spectators>
              <app-tournament-spectators *ngIf="activeTournament != null"></app-tournament-spectators>
              <app-online-players></app-online-players>
            </div>
            <div class="col-6">
              <app-sidebar-settings></app-sidebar-settings>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
