<app-navbar></app-navbar>
<div class="row">
  <div class="col-12">
    <h2 class="text-primary">Changelog:</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>18-08-2019 (patch 2):</strong>
        <ul>
          <li>Added double draw card. Please read the card effect under the help page.</li>
          <li>Fixed bug where the sidebar's settings were not saved.</li>
          <li>Fixed bug where steal turn could not be played if the previous card was also steal turn.</li>
          <li>Reduced the number of magnetic polarities in deck from 16 to 8.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>18-08-2019 (patch 1):</strong>
        <ul>
          <li>Added extra set of normal cards on top of the current deck (fix ration wild:normal).</li>
          <li>Added navbar.</li>
          <li>Added user settings page (users can mute buzz notifications, turn on notify when my turn to play...)</li>
          <li>Sidebar settings and user settings are now saved per browser (will stay the same after page refresh)</li>
          <li>Bug fix.</li>
          <li>Max number of cards to ban increased to 5.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>17-08-2019:</strong>
        <ul>
          <li>Added new help page</li>
          <li>Nerfed charity. In order to play this card you must draw a card.</li>
          <li>Nerfed discard color. In order to play this card you must draw a card.</li>
          <li>Nerfed discard wildcards. In order to play this card you must draw a card.</li>
          <li>Nerfed discard numbers. In order to play this card you must draw a card. Now can discard 2 numbers instead of 3.</li>
          <li>Duel card always results in drawing 3 cards.</li>
          <li>Russian Roulette now results in drawing 3 cards, not 6.</li>
          <li>
            Blackjack changed. If the player hits blackjack he will discard 4 cards (previously 5). If the player hits number higher than 21
            he will draw 6 cards (previously 7)
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>16-08-2019:</strong>
        <ul>
          <li>Fixed bug where you couldn't play a wildcard, but instead you had to draw a card.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>15-08-2019:</strong>
        <ul>
          <li>Added "Fortune teller" card.</li>
        </ul>
      </li>

      <li class="list-group-item">
        <strong>14-08-2019:</strong>
        <ul>
          <li>Redesigned sidebar and game page.</li>
        </ul>
      </li>
      <li class="list-group-item">
        <strong>13-08-2019:</strong>
        <ul>
          <li>Added "Uno" button which is required to press when you have 1 card left. Otherwise draw 2 cards.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
