<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Setup the tournament</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" [hidden]="hideAdminPasswordPart">
    <div class="col-12">
      <div class="form-group row">
        <label for="adminPassword" class="col-7 col-form-label">Admin Password</label>
        <div class="col-5">
          <input
            type="password"
            [(ngModel)]="adminPassword"
            class="form-control"
            autocomplete="off"
            name="adminPassword"
            id="adminPassword"
          />
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="row" [hidden]="!adminPassword && !hideAdminPasswordPart">
    <div class="col-12">
      <form
        #tournamentSetupForm="ngForm"
        (ngSubmit)="tournamentSetupForm.form.valid && confirm()"
        id="tournamentSetupForm"
        name="tournamentSetupForm"
        novalidate
      >
        <div class="form-group row">
          <label for="text" class="col-7 col-form-label">Name</label>
          <div class="col-5">
            <input
              type="text"
              #name="ngModel"
              required
              [ngClass]="{ 'is-invalid': tournamentSetupForm.submitted && name.invalid }"
              [(ngModel)]="tournamentSetup.name"
              class="form-control"
              autocomplete="off"
              name="name"
              [maxlength]="25"
              id="name"
              placeholder="(max 25 chars)"
            />
            <div class="invalid-feedback">This field cannot be empty. (max 25).</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="gameType" class="col-7 col-form-label">Game type</label>
          <div class="col-5">
            <select [(ngModel)]="tournamentSetup.gameType" class="form-control form-control-sm" name="gameType" id="gameType">
              <option value="1">Classic</option>
              <option value="2">Special Wild Cards</option>
            </select>
          </div>
        </div>
        <div class="form-group row" [hidden]="tournamentSetup.gameType==1">
          <label for="numberOfStandardDecks" class="col-7 col-form-label">Number of standard uno decks</label>
          <div class="col-5">
            <select [(ngModel)]="tournamentSetup.numberOfStandardDecks" class="form-control form-control-sm" name="numberOfStandardDecks" id="numberOfStandardDecks">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxNumberOfPlayers" class="col-7 col-form-label">Tournament size</label>
          <div class="col-5">
            <select
              [(ngModel)]="tournamentSetup.numberOfPlayers"
              name="maxNumberOfPlayers"
              class="form-control form-control-sm"
              id="maxNumberOfPlayers"
            >
              <option value="4">4</option>
              <option value="8">8</option>
              <option value="16">16</option>
              <option value="32">32</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="playUntil" class="col-7 col-form-label">Rounds to win</label>
          <div class="col-5">
            <select
              [(ngModel)]="tournamentSetup.roundsToWin"
              name="playUntil"
              class="form-control form-control-sm"
              name="playUntil"
              id="playUntil"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-9 col-form-label">Password</label>
          <div class="col-4">
            <input
              type="text"
              [(ngModel)]="tournamentSetup.password"
              class="form-control"
              autocomplete="off"
              name="password"
              id="password"
              placeholder="(optional)"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="drawTwoFourShouldSkipTurn" class="col-9">Draw two/four skips:</label>
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              name="drawTwoFourShouldSkipTurn"
              size="small"
              type="checkbox"
              [(ngModel)]="tournamentSetup.drawFourDrawTwoShouldSkipTurn"
              id="drawTwoFourShouldSkipTurn"
            ></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="reverseShouldSkipTurnInTwoPlayers" class="col-9">Reverse skips in 2 players:</label>
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              size="small"
              [(ngModel)]="tournamentSetup.reverseShouldSkipTurnInTwoPlayers"
              name="reverseShouldSkipTurnInTwoPlayers"
              id="reverseShouldSkipTurnInTwoPlayers"
            ></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="drawAutoPlay" class="col-9">Draw auto play:</label>
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              size="small"
              [(ngModel)]="tournamentSetup.drawAutoPlay"
              name="drawAutoPlay"
              id="drawAutoPlay"
            ></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="spectatorsCanViewHands" class="col-9">Spectator can view hands:</label>
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              size="small"
              [(ngModel)]="tournamentSetup.spectatorsCanViewHands"
              name="spectatorsCanViewHands"
              id="spectatorsCanViewHands"
            ></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="matchingCardStealsTurn" class="col-9">Matching card steals turn:</label>
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              size="small"
              [(ngModel)]="tournamentSetup.matchingCardStealsTurn"
              name="matchingCardStealsTurn"
              id="matchingCardStealsTurn"
            ></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="wildCardCanBePlayedOnlyIfNoOtherOptions" class="col-9"
            >Wild card playable only as must:</label
          >
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              size="small"
              [(ngModel)]="tournamentSetup.wildCardCanBePlayedOnlyIfNoOtherOptions"
              name="wildCardCanBePlayedOnlyIfNoOtherOptions"
              id="wildCardCanBePlayedOnlyIfNoOtherOptions"
            ></ui-switch>
          </div>
        </div>
        <div class="form-group row" [hidden]="tournamentSetup.gameType==1">
          <label for="name" for="limitColorChangingCards" class="col-9">Limit color changing cards:</label>
          <div class="col-4 text-center">
            <ui-switch
              class="form-check-input"
              size="small"
              [(ngModel)]="tournamentSetup.limitColorChangingCards"
              name="limitColorChangingCards"
              id="limitColorChangingCards"
            ></ui-switch>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" [hidden]="!adminPassword && !hideAdminPasswordPart">
    <div class="col-12">
      <hr />
      <button class="btn btn-lg btn-block btn-info" form="tournamentSetupForm">Confirm</button>
    </div>
  </div>
</div>
