<div class="row"  *ngIf="availableGames.length > 0">
  <div class="col-12">
    <div class="alert alert-primary">Games ({{ availableGames.length }}):</div>
    <ul class="list-group">
      <li
        class="list-group-item cursor-pointer d-flex justify-content-between align-items-center"
        (click)="joinGame(availableGame)"
        *ngFor="let availableGame of availableGames"
      >
        <div>
          <span *ngIf="availableGame.isPasswordProtected">&#9919;</span>
          <span> {{ availableGame.host }} </span>
        </div>
        <span class="badge badge-pill" [ngClass]="getBadgeClass(availableGame)">
          <span [hidden]="availableGame.gameStarted">({{ availableGame.numberOfPlayers }}/{{ availableGame.maxNumberOfPlayers }})</span>
          <span [hidden]="!availableGame.gameStarted">[{{ availableGame.numberOfPlayers }}]</span>
        </span>
      </li>
    </ul>
  </div>
</div>
