<div class="row">
  <div class="col-12">
    <div class="alert alert-primary">Available games ({{ availableGames.length }}):</div>
    <button
      [class.btn-danger]="availableGame.gameStarted"
      class="btn  btn-block mb-1"
      [ngClass]="getButtonClass()"
      *ngFor="let availableGame of availableGames"
      (click)="joinGame(availableGame)"
    >
      <span *ngIf="availableGame.isPasswordProtected">&#9919;</span>
      <span> {{ availableGame.host }} </span>
      <span> - </span>
      <span [hidden]="availableGame.gameStarted">({{ availableGame.numberOfPlayers }}/{{ availableGame.maxNumberOfPlayers }})</span>
      <span [hidden]="!availableGame.gameStarted">[{{ availableGame.numberOfPlayers }}]</span>
    </button>
  </div>
</div>
