<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Showing discarded cards</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 p5">
      <img
        *ngFor="let card of discardedPile; let firstItem = first"
        (click)="digCardFromDiscardedPile(card)"
        [src]="card.imageUrl"
        class="player-hand-card"
      />
    </div>
  </div>
</div>
