<app-navbar></app-navbar>
<div class="row d-block d-sm-none">
  <div class="col-12">
    <div class="text-center my-2">
      <h4 class="text-primary">Uno - Special Edition</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-6">
    <div class="text-center my-2">
      <h4 class="text-primary d-none d-sm-block">Uno - Special Edition</h4>
      <button class="btn btn-primary" id="new-game" (click)="createGame()">New Game</button>
    </div>
      <app-all-chat [heightClassString]="'fill-viewport-80'"></app-all-chat>
  </div>
  <div class="col-sm-4 col-6 my-2 my-sm-0 fill-viewport-max-100  scrollable-div-y">
    <app-available-tournaments></app-available-tournaments>
    <app-available-games></app-available-games>
    <app-online-players></app-online-players>
  </div>
</div>
