<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pick color</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6">
      <div class="pick pick-blue" (click)="pickColor(1)"></div>
    </div>
    <div class="col-6">
      <div class="pick pick-green" (click)="pickColor(2)"></div>
    </div>
    <div class="col-6">
      <div class="pick pick-red" (click)="pickColor(3)"></div>
    </div>
    <div class="col-6">
      <div class="pick pick-yellow" (click)="pickColor(4)"></div>
    </div>
  </div>
</div>
