<app-navbar [hidden]="!sidebarSettings.showNavbar"></app-navbar>
<div class="row my-2">
  <div class="col-12">
    <div class="row" [hidden]="activeGame.players[0]?.user.name != currentUser.name">
      <div class="col-6">
        <button class="btn btn-sm btn-block btn-primary" (click)="openGameSetupDialog()">Game Setup</button>
        <button class="btn btn-sm btn-block btn-primary" (click)="openBanCardsDialog()">
          Ban Cards
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-sm btn-danger btn-block" (click)="leaveWaitingRoom()">Leave Room</button>
        <button [style.opacity]="activeGame.players.length < 2 ? 0.5 : 1" class="btn btn-block btn-sm btn-success" (click)="startGame()">
          Start Game
        </button>
      </div>
    </div>
    <div class="row" [hidden]="activeGame.players[0]?.user.name == currentUser.name">
      <div class="col-12">
        <div class="btn-group special">
          <button class="btn btn-sm btn-danger" (click)="leaveWaitingRoom()">Leave room</button>
          <button class="btn btn-sm btn-primary" [ngStyle]="getStyleJoinGameButton()" [disabled]="!userIsSpectator()" (click)="joinGame()">
            Join Game
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h6 class="text-success">Players joined ({{ activeGame.players.length }})</h6>
    <ul class="list-unstyled">
      <li *ngFor="let player of activeGame.players; let first = first">
        <span [hidden]="!first">&#9734;</span>
        *{{ player.user.name }}
        <strong [hidden]="activeGame.gameSetup.playersSetup != 2">
          <span
            [hidden]="currentUser.connectionId != player.user.connectionId"
            class="text-primary  cursor-pointer"
            (click)="changeTeam(player.teamNumber, false)"
            >(-)</span
          >
          <span>[Team {{ player.teamNumber }}]</span>
          <span
            [hidden]="currentUser.connectionId != player.user.connectionId"
            class="text-primary cursor-pointer"
            (click)="changeTeam(player.teamNumber, true)"
            >(+)</span
          >
        </strong>
        <strong
          [hidden]="currentUser.connectionId != activeGame.players[0].user.connectionId || first"
          class="ml-2 text-danger cursor-pointer"
          (click)="kickPlayerFromGame(player)"
          >[X]</strong
        >
      </li>
    </ul>
  </div>
  <div class="col-6" id="gameSetupInfo">
    <h6 class="text-info">Game setup</h6>
    <div [hidden]="activeGame.gameSetup.bannedCards.length == 0">
      <strong>Banned cards: </strong>
      <ul>
        <li *ngFor="let bannedCard of activeGame.gameSetup.bannedCards">{{ getBannedCardName(bannedCard) | dividePerCapital }}</li>
      </ul>
    </div>
    <p [hidden]="activeGame.gameSetup.bannedCards.length > 0"><strong>Banned cards: </strong> None</p>
    <p><strong>Player setup: </strong> {{ getPlayerSetupPlaceholder() }}</p>
    <p><strong>Game type: </strong> {{ getGameTypePlaceholder() }}</p>
    <p><strong>Play until: </strong> {{ activeGame.gameSetup.roundsToWin }}</p>
    <p><strong>Max number of players: </strong> {{ activeGame.gameSetup.maxNumberOfPlayers }}</p>
    <p><strong>+2/+4 skipping turn: </strong> {{ activeGame.gameSetup.drawFourDrawTwoShouldSkipTurn }}</p>
    <p><strong>Matching card steals turn: </strong> {{ activeGame.gameSetup.matchingCardStealsTurn }}</p>
    <p><strong>Reverse skipping turn in 2p: </strong> {{ activeGame.gameSetup.reverseShouldSkipTurnInTwoPlayers }}</p>
    <p><strong>Can see teammate's cards: </strong> {{ activeGame.gameSetup.canSeeTeammatesHandInTeamGame }}</p>
    <p><strong>Wild card playable only as last option: </strong> {{ activeGame.gameSetup.wildCardCanBePlayedOnlyIfNoOtherOptions }}</p>
    <p><strong>Password set:</strong> {{ activeGame.gameSetup.password.length > 0 }}</p>
  </div>
</div>

<div class="row">
  <div class="col-12 fill-viewport-max-70 scrollable-div-y">
    <app-game-tabs></app-game-tabs>
  </div>
</div>
