<div class="row">
  <div class="col-sm-8 col-6  fill-viewport-max-100 scrollable-div-y">
    <h3 class=" h3 text-center text-primary">Uno - Card Game</h3>
    <div class="text-center">
        <button class="btn btn-primary my-3" (click)="createGame()">New game</button>
    </div>
    <app-all-chat></app-all-chat>
  </div>
  <div class="col-sm-4 col-6 fill-viewport-max-100 scrollable-div-y">
    <button class="btn btn-outline-info btn-sm btn-block my-2" [routerLink]="['/help']">Help</button>
    <button class="btn btn-outline-dark btn-sm btn-block my-2" (click)="rename()">Rename</button>
    <app-online-players></app-online-players>
    <app-available-games></app-available-games>
  </div>
</div>
