/*
 *  Flex Layout Specifics
*/
#tournament {
  display: flex;
  flex-direction: row;
}
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 130px;
  list-style: none;
  padding: 0;
}
.round .spacer {
  flex-grow: 1;
}
.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: 0.5;
}

.round .game-spacer {
  flex-grow: 1;
}

/*
 *  General Styles
*/
body {
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  line-height: 1.4em;
}

li.game {
  padding-left: 10px;
}

li.game.winner {
  font-weight: bold;
  color: #28a745!important;
}
li.game.winner-top {
  border-bottom: 3px solid #28a745!important;
}
li.game.winner-bottom {
  border-top: 3px solid #28a745!important;
}
li.game span.score {
  float: right;
  margin-right: 5px;
}

li.game-top {
  border-bottom: 3px solid #aaa;
}

li.game-spacer {
  border-right: 3px solid #aaa;
  min-height: 40px;
}

.game-spacer p {
  margin-bottom: 0;
}

li.game-bottom {
  border-top: 3px solid #aaa;
}

/* @media (max-width: 768px) {
  .display-4{
    font-size:2rem;
  }
} */


.animation-text-shine {
  animation-name: greenText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes greenText {
  from {
    color: #c0ff02;
  }
  50% {
    color: #4b610b;
  }
  to {
    color: #c0ff02;
  }
}
