<h1>2013 NCAA Tournament - Midwest Bracket</h1>
<main id="tournament">
  <ul class="round" *ngFor="let round of activeTournament.tournamentRounds">
    <ng-container *ngFor="let roundGame of round.tournamentRoundGames">
      <li class="spacer">&nbsp;</li>

      <li
        (click)="joinGame(roundGame.game)"
        class="game game-top cursor-pointer"
        [ngClass]="{ winner: roundGame.game.players[0]?.roundsWonCount == activeTournament.tournamentSetup.roundsToWin }"
      >
        {{ roundGame.game.players[0]?.user.name }} <span>{{ roundGame.game.players[0]?.roundsWonCount }}</span>
      </li>
      <li (click)="joinGame(roundGame.game)" class="game game-spacer cursor-pointer">&nbsp;</li>
      <li
        (click)="joinGame(roundGame.game)"
        class="game game-bottom cursor-pointer"
        [ngClass]="{ winner: roundGame.game.players[1]?.roundsWonCount == activeTournament.tournamentSetup.roundsToWin }"
      >
        {{ roundGame.game.players[1]?.user.name }} <span>{{ roundGame.game.players[1]?.roundsWonCount }}</span>
      </li>
    </ng-container>
    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round">
    <li class="spacer">&nbsp;</li>
    <li class="game game-top winner">Winner!<span></span></li>
    <li class="spacer">&nbsp;</li>
  </ul>
</main>
