<app-navbar [hidden]="!sidebarSettings.showNavbar"></app-navbar>
<div class="row">
  <div class="col-12">
    <h4 class="text-primary d-none d-sm-block">
      Tournament: <b>{{ activeTournament.tournamentSetup.name }}</b>
      <button (click)="exitTournament()" class="btn btn-sm btn-danger mx-2">
        Exit tournament
      </button>
    </h4>
    <button (click)="exitTournament()" class="btn d-sm-none d-block btn-sm btn-block btn-danger">Exit tournament</button>
    <div id="tournament" class="scrollable-div-x">
      <ul class="round" *ngFor="let round of activeTournament.tournamentRounds">
        <ng-container *ngFor="let roundGame of round.tournamentRoundGames">
          <li class="spacer">&nbsp;</li>

          <li
            class="game game-top"
            [ngClass]="{
              'winner winner-top':
                getPlayerFromTheGameAtPosition(roundGame.game, 1)?.roundsWonCount == activeTournament.tournamentSetup.roundsToWin
            }"
          >
            <span
              [ngClass]="{
                'animation-text-shine':
                  getPlayerFromTheGameAtPosition(roundGame.game, 1)?.user.name == currentUser.name && !roundGame.game.gameEnded
              }"
              *ngIf="getPlayerFromTheGameAtPosition(roundGame.game, 1)?.user.name"
              >{{ getPlayerFromTheGameAtPosition(roundGame.game, 1)?.user.name }}</span
            >
            <span *ngIf="!getPlayerFromTheGameAtPosition(roundGame.game, 1)?.user.name">&nbsp;</span>

            <span class="score">{{ getPlayerFromTheGameAtPosition(roundGame.game, 1)?.roundsWonCount }}</span>
          </li>
          <li class="game game-spacer d-flex  align-items-center">
            <div>
              <button
                (click)="joinGame(roundGame.game)"
                *ngIf="roundGame.game.gameStarted && !roundGame.game.gameEnded"
                class="btn btn-sm btn-block btn-outline-info"
              >
                Join game
              </button>
              <p class="text-center">
                <i class="text-dark" *ngIf="roundGame.game.gameEnded"><small>[Game ended]</small></i>
              </p>
            </div>
          </li>
          <li
            class="game game-bottom"
            [ngClass]="{
              'winner winner-bottom':
                getPlayerFromTheGameAtPosition(roundGame.game, 2)?.roundsWonCount == activeTournament.tournamentSetup.roundsToWin
            }"
          >
            <span
              *ngIf="getPlayerFromTheGameAtPosition(roundGame.game, 2)?.user.name"
              [ngClass]="{
                'animation-text-shine':
                  getPlayerFromTheGameAtPosition(roundGame.game, 2)?.user.name == currentUser.name && !roundGame.game.gameEnded
              }"
              >{{ getPlayerFromTheGameAtPosition(roundGame.game, 2)?.user.name }}</span
            >
            <span *ngIf="!getPlayerFromTheGameAtPosition(roundGame.game, 2)?.user.name">&nbsp;</span>
            <span class="score">{{ getPlayerFromTheGameAtPosition(roundGame.game, 2)?.roundsWonCount }}</span>
          </li>
        </ng-container>
        <li class="spacer">&nbsp;</li>
      </ul>
      <ul class="round">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top winner">
          <span [hidden]="!activeTournament.tournamentWinner">{{ activeTournament.tournamentWinner }}</span
          ><span class="score lead">&#9819;</span>
        </li>
        <li class="spacer">&nbsp;</li>
      </ul>
    </div>
  </div>
  <div class="col-12 my-2" *ngIf="activeTournament.tournamentEnded">
    <h3 class="text-success">
      Tournament ended! Extra points won: <u>{{ getExtraPointsWon() }}</u>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-game-tabs [heightClassString]="'fill-viewport-max-70'"></app-game-tabs>
  </div>
</div>
