<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Pick a card:
  </h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-6" *ngFor="let card of allCards">
      <button
        class="btn btn-block btn-sm"
        [ngClass]="getBtnClass(card.value)"
        (click)="selectOrUnselect(card.value)"
      >
        {{ card.key | dividePerCapital }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
      <button class="btn btn-info btn-block btn-lg" [disabled]="selectedCardToReturn==null" (click)="confirm()">
        Confirm
      </button>
    </div>
  </div>
</div>
