<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">User Settings</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label for="name" class="col-4">Name:</label>
        <div class="col-4 ">
          <p>
            <b>{{ currentUser.name }}</b>
          </p>
        </div>
        <div class="col-4 ">
          <button (click)="rename()" class="btn btn-sm btn-outline-primary">Rename</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-4 col-form-label">Block Buzz Commands:</label>
        <div class="col-8">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('alert')"
              (change)="updateBlockedBuzzCommands($event, 'alert')"
              id="Alert"
            />
            <label class="form-check-label" for="Alert">
              Alert
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('ding')"
              (change)="updateBlockedBuzzCommands($event, 'ding')"
              id="Ding"
            />
            <label class="form-check-label" for="Ding">
              Ding
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('lick')"
              (change)="updateBlockedBuzzCommands($event, 'lick')"
              id="Lick"
            />
            <label class="form-check-label" for="Lick">
              Lick
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('poke')"
              (change)="updateBlockedBuzzCommands($event, 'poke')"
              id="Poke"
            />
            <label class="form-check-label" for="Poke">
              Poke
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('punch')"
              (change)="updateBlockedBuzzCommands($event, 'punch')"
              id="Punch"
            />
            <label class="form-check-label" for="Punch">
              Punch
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('slap')"
              (change)="updateBlockedBuzzCommands($event, 'slap')"
              id="Slap"
            />
            <label class="form-check-label" for="Slap">
              Slap
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('shoot')"
              (change)="updateBlockedBuzzCommands($event, 'shoot')"
              id="Shoot"
            />
            <label class="form-check-label" for="Shoot">
              Shoot
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('laugh')"
              (change)="updateBlockedBuzzCommands($event, 'laugh')"
              id="Laugh"
            />
            <label class="form-check-label" for="Laugh">
              Laugh
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('scream')"
              (change)="updateBlockedBuzzCommands($event, 'scream')"
              id="Scream"
            />
            <label class="form-check-label" for="Scream">
              Scream
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="shouldBeCheckedBuzzCommand('kiss')"
              (change)="updateBlockedBuzzCommands($event, 'kiss')"
              id="Kiss"
            />
            <label class="form-check-label" for="Kiss">
              Kiss
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" for="notifyMyTurnToPlay" class="col-8">Sound notify me when it's my turn to play:</label>
        <div class="col-4 ">
          <ui-switch
            class="form-check-input"
            size="small"
            [(ngModel)]="userSettings.notifyUserWhenHisTurnToPlay"
            (change)="saveUserSettings()"
            id="notifyMyTurnToPlay"
          ></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" for="textNotifyMentioned" class="col-8">Text notify me when I'm mentioned in chat:</label>
        <div class="col-4 ">
          <ui-switch
            size="small"
            class="form-check-input"
            [(ngModel)]="userSettings.notifyWhenMentionedToast"
            (change)="saveUserSettings()"
            id="textNotifyMentioned"
          ></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" for="soundNotifyMentioned" class="col-8">Sound notify me when I'm mentioned in chat:</label>
        <div class="col-4 ">
          <ui-switch
            size="small"
            class="form-check-input"
            [(ngModel)]="userSettings.notifyWhenMentionedBuzz"
            (change)="saveUserSettings()"
            id="soundNotifyMentioned"
          ></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" for="showEmoji" class="col-8">Show emoji:</label>
        <div class="col-4 ">
          <ui-switch
            class="form-check-input"
            size="small"
            [(ngModel)]="userSettings.showEmoji"
            (change)="saveUserSettings()"
            id="showEmoji"
          ></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" for="darkMode" class="col-8">Dark mode:</label>
        <div class="col-4 ">
          <ui-switch
            class="form-check-input"
            size="small"
            [(ngModel)]="userSettings.useDarkTheme"
            (change)="updateUseDarkTheme()"
            id="darkMode"
          ></ui-switch>
        </div>
      </div>
      <hr />
      <button class="btn btn-info btn-block btn-lg" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
