<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pick two cards</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let card of cards">
        <img
          (click)="selectOrUnselect(card)"
          [style.opacity]="getCardOpacity(card)"
          [src]="card.imageUrl"
          class="player-hand-card animate"
          *ngIf="isCharityCard(card) == false"
        />
      </ng-container>
    </div>
    <div class="col-12">
      <hr />
      <button class="btn btn-info btn-block btn-lg" *ngIf="selectedCards.length == 2" (click)="confirm()">Confirm</button>
    </div>
  </div>
</div>
