<div class="row">
  <div class="col-12">
    <div class="alert alert-primary">Chat Settings</div>
    <div class="form-group row">
      <label class="col-4 col-form-label">Size</label>
      <div class="col-8">
        <select (change)="saveSidebarSettings()" [(ngModel)]="sidebarSettings.sidebarSize" class="form-control form-control-sm">
          <option value="20">20%</option>
          <option value="30">30%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
          <option value="60">60%</option>
          <option value="70">70%</option>
          <option value="80">80%</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="keepSidebarOpen" for="reverseShouldSkipTurnInTwoPlayers" class="col-8">Sticky chat:</label>
      <div class="col-4 ">
        <ui-switch
          class="form-check-input"
          size="small"
          name="keepSidebarOpen"
          id="keepSidebarOpen"
          [checked]="sidebarSettings.keepSidebarOpen"
          [(ngModel)]="sidebarSettings.keepSidebarOpen"
          (change)="saveSidebarSettings()"
          ></ui-switch>
      </div>
    </div>
    <div class="form-group row">
      <label for="muteSpectators" for="reverseShouldSkipTurnInTwoPlayers" class="col-8">Mute specs:</label>
      <div class="col-4 ">
        <ui-switch
          class="form-check-input"
          size="small"
          name="muteSpectators"
          id="muteSpectators"
          [checked]="sidebarSettings.muteSpectators"
          [(ngModel)]="sidebarSettings.muteSpectators"
          (change)="saveSidebarSettings()"
          ></ui-switch>
      </div>
    </div>
    <div class="form-group row">
      <label for="muteServer" for="reverseShouldSkipTurnInTwoPlayers" class="col-8">Mute server:</label>
      <div class="col-4 ">
        <ui-switch
          class="form-check-input"
          size="small"
          name="muteServer"
          id="muteServer"
          [checked]="sidebarSettings.muteServer"
          [(ngModel)]="sidebarSettings.muteServer"
          (change)="saveSidebarSettings()"
          ></ui-switch>
      </div>
    </div>
    <div class="form-group row">
      <label for="showNavbar" for="reverseShouldSkipTurnInTwoPlayers" class="col-8">Sticky navbar:</label>
      <div class="col-4 ">
        <ui-switch
          class="form-check-input"
          size="small"
          id="showNavbar"
          name="showNavbar"
          [checked]="sidebarSettings.showNavbar"
          [(ngModel)]="sidebarSettings.showNavbar"
          (change)="saveSidebarSettings()"
          ></ui-switch>
      </div>
    </div>
  </div>
</div>
