<app-navbar></app-navbar>

<div class="row">
  <div class="col-12">
    <h2 class="text-primary">Tournament Winners</h2>
    <p>Here we will post winners of the official tournaments organized on discord.</p>
    <small>**Small custom tournaments won't be logged</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <ngb-accordion>
      <ngb-panel title="21.09.2019 --- Winner: Killer" >
        <ng-template ngbPanelContent>
         <img class="img-fluid" src="/images/tournament-winners/2019-09-21-killer.png" alt="">
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
