<app-navbar></app-navbar>

<div class="row">
  <div class="col-12">
    <h2 class="text-primary">Tournament Winners</h2>
    <p>Here we will post winners of the official tournaments organized on discord.</p>
    <small>**Small custom tournaments won't be logged</small>
    <hr>
    <small>Click on the item to see the details.</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <ngb-accordion>
      <ngb-panel title="07.03.2020 --- Winner: killer">
        <ng-template ngbPanelContent>
          <img class="img-fluid" src="/images/tournament-winners/2020-05-16-killer.jpg" alt="">
        </ng-template>
      </ngb-panel>
      <ngb-panel title="07.03.2020 --- Winner: tony">
        <ng-template ngbPanelContent>
          <img class="img-fluid" src="/images/tournament-winners/2020-03-07-tony.png" alt="">
        </ng-template>
      </ngb-panel>
      <ngb-panel title="18.01.2020 --- Winner: killer">
        <ng-template ngbPanelContent>
          <img class="img-fluid" src="/images/tournament-winners/2020-01-18-killer.png" alt="">
        </ng-template>
      </ngb-panel>
      <ngb-panel title="07.12.2019 --- Winner: yuss">
        <ng-template ngbPanelContent>
          <img class="img-fluid" src="/images/tournament-winners/2019-12-07-yuss.png" alt="">
        </ng-template>
      </ngb-panel>
      <ngb-panel title="26.10.2019 --- Winner: metauno">
        <ng-template ngbPanelContent>
          <img class="img-fluid" src="/images/tournament-winners/2019-10-26-metauno.png" alt="">
        </ng-template>
      </ngb-panel>
      <ngb-panel title="21.09.2019 --- Winner: killer">
        <ng-template ngbPanelContent>
          <img class="img-fluid" src="/images/tournament-winners/2019-09-21-killer.png" alt="">
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>