<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Game info</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-12">
    <div *ngIf="game.gameSetup.bannedCards.length > 0">
      <strong>Banned cards: </strong>
      <ul>
        <li *ngFor="let bannedCard of game.gameSetup.bannedCards">{{ getBannedCardName(bannedCard) | dividePerCapital }}</li>
      </ul>
    </div>
    <p *ngIf="game.gameSetup.bannedCards.length == 0"><strong>Banned cards: </strong> None</p>
    <p><strong>Game type: </strong> {{ getGameTypePlaceholder() }}</p>
    <p><strong>Play until: </strong> {{ game.gameSetup.roundsToWin }}</p>
    <p><strong>Max number of players: </strong> {{ game.gameSetup.maxNumberOfPlayers }}</p>
    <p><strong>+2/+4 skipping turn: </strong> {{ game.gameSetup.drawFourDrawTwoShouldSkipTurn }}</p>
    <p><strong>Matching card steals turn: </strong> {{ game.gameSetup.matchingCardStealsTurn }}</p>
    <p><strong>Wild card playable only as last option: </strong> {{ game.gameSetup.wildCardCanBePlayedOnlyIfNoOtherOptions }}</p>
    <p><strong>Reverse skipping turn in 2p: </strong> {{ game.gameSetup.reverseShouldSkipTurnInTwoPlayers }}</p>
    <p><strong>Password set:</strong> {{ game.gameSetup.password.length > 0 }}</p>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Cards Left</th>
        <th>Rounds Won</th>
      </thead>
      <tbody>
        <tr *ngFor="let player of game.players">
          <td>{{ player.user.name }}</td>
          <td>{{ player.numberOfCards }}</td>
          <td>{{ player.roundsWonCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 fill-viewport-max-100 scrollable-div-y">
    <h4 class="text-primary">Log</h4>
    <p *ngFor="let log of gameLog">*{{ log }}</p>
  </div>
</div>
