<div class="row scrollable-div-y" [ngClass]="heightClassString">
  <div class="col-12">
    <div class="card">
      <div class="card-header sticky-top bg-light border-top border-light">
        <div class="row">
          <div class="col-12">
            <h6 class="ml-2">
              Hello, <strong>{{ currentUser.name }}</strong>
              <span class="d-block d-md-inline float-left float-md-right">
                  <app-emoticon-picker (emoji)="addEmojiToChat($event)"></app-emoticon-picker>
                </span>
            </h6>
          </div>
        </div>
        <form novalidate name="newMessageForm" (ngSubmit)="sendMessageToGameChat()">
          <input
            type="text"
            name="newMessage"
            #messageInput
            [mention]="onlineUsers"
            autocomplete="off"
            class="form-control"
            placeholder="New Message"
            [(ngModel)]="newMessage"
          />
        </form>
      </div>
      <div class="card-body">
        <p class="card-text" [hidden]="messages.length > 0">No messages</p>
        <p
          class="card-text"
          [hidden]="getChatMessageHidden(message)"
          [ngClass]="getChatMessageClass(message)"
          *ngFor="let message of messages"
        >
          <strong> [{{ message.createdUtc | date: 'shortTime' }} | {{ message.username }}]: </strong>
          <span [innerHTML]="message.text | linkify | highlightMentions"></span>
        </p>
      </div>
    </div>
  </div>
</div>
