<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
    <img class="brandingImage" *ngIf="!userSettings.useDarkTheme" src="images/branding.ico" />
    <img class="brandingImage" *ngIf="userSettings.useDarkTheme" src="images/branding-white.ico" />
    UNO!</a
  >
  <button class="navbar-toggler" (click)="toggleNavbar()" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="!navbarOpen">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['/']" routerLinkActive="router-link-active"
          >Lobby <span class="sr-only">(current)</span></a
        >
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer">
          Development
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a ngbDropdownItem (click)="toggleNavbar()" [routerLink]="['/change-log']" routerLinkActive="router-link-active">Changelog</a>
          <a ngbDropdownItem (click)="openContactModal()" class="cursor-pointer">Report a bug</a>
          <a ngbDropdownItem target="_blank" href="https://github.com/tonymarkoc/unoApp">Github</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer">
          Community
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a ngbDropdownItem [routerLink]="['/hall-of-fame']">Hall of fame</a>
          <a ngbDropdownItem [routerLink]="['/tournament-winners']">Tournament Winners</a>
          <a ngbDropdownItem target="_blank" href="https://discord.gg/BbXQqRk">Discord</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/help']" (click)="toggleNavbar()" routerLinkActive="router-link-active">Help</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="openSettings(); toggleNavbar()">User Settings &#9733;</a>
      </li>
    </ul>
  </div>
</nav>
