<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Admin section</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label for="password" class="col-4 col-form-label">Admin Password</label>
        <div class="col-8">
          <input type="password" class="form-control" [(ngModel)]="password" />
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row" [hidden]="!password">
    <div class="col-6">
      <h5 class="text-primary">Buzz all!</h5>
    </div>
    <div class="col-6">
      <button (click)="buzzAll()" class="btn btn-block btn-sm btn-outline-primary">Ding!</button>
    </div>
  </div>
  <div class="row" [hidden]="!password">
    <div class="col-12">
      <h5 class="text-primary">Kick player</h5>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Kick</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of onlineUsers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td><span class="text-danger cursor-pointer" (click)="kickUserFromServer(user)">[KICK]</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" [hidden]="!password || availableTournaments.length == 0">
    <div class="col-12">
      <h5 class="text-primary">Cleanup tournaments</h5>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tournament</th>
            <th>Cleanup</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournament of availableTournaments; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ tournament.name }}</td>
            <td><span class="text-danger cursor-pointer" (click)="cleanupTournament(tournament)">[CLEANUP]</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" [hidden]="!password || availableGames.length == 0">
    <div class="col-12">
      <h5 class="text-primary">Cleanup games</h5>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Game</th>
            <th>Cleanup</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of availableGames; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ game.host }}</td>
            <td><span class="text-danger cursor-pointer" (click)="cleanupGame(game)">[CLEANUP]</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
