<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Blackjack!</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col 6">
      <div class="card">
        <div class="card-body text-center">
          <span class="h1" *ngIf="lastNumberHit != 0"><b>{{ lastNumberHit }}</b></span>
          <span *ngIf="lastNumberHit == 0">let's go!</span>
        </div>
      </div>
    </div>
    <div class="col 6">
      <h5 class="text-info">Dealer hits 17</h5>
      <hr />
      <h5 class="text-success">
        Total Hit: <span class="lead">{{ blackjackNumber }}</span>
      </h5>
      <hr />
      <h5 class="text-primary">
        Numbers Hit: <span class="mx-1" *ngFor="let number of numbersHit">{{ number }}</span>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-lg btn-danger btn-block" (click)="hitMe()">HIT ME!</button>
    </div>
    <div class="col-6">
      <button class="btn btn-lg btn-info btn-block" (click)="confirm()">Pull out</button>
    </div>
  </div>
</div>
