<div class="row">
  <div class="col-12">
    <div class="alert alert-primary">
      <h4 class="h4">Available games ({{ availableGames.length }}):</h4>
    </div>
    <button
      [class.btn-danger]="availableGame.gameStarted"
      class="btn btn-primary btn-block"
      *ngFor="let availableGame of availableGames"
      (click)="joinGame(availableGame)"
    >
      <span class="mx-2" *ngIf="availableGame.gameSetup.isPasswordProtected">&#9919;</span>
      <span *ngIf="availableGame.players.length > 0"> {{ availableGame.players[0]?.user.name }} </span>
      <span *ngIf="availableGame.players.length == 0"> No Players Currently </span>
      <span> - </span>
      <span>({{ availableGame.players.length }})</span>
    </button>
  </div>
</div>
