<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pick player</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <ul>
      <li *ngFor="let player of players" class="my-3" [hidden]="currentUser.name == player.user.name" (click)="selectPlayer(player)">
        {{ player.user.name }} -({{ player.numberOfCards }})
      </li>
    </ul>
  </div>
</div>
