#game-short-info p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
#game-short-info hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.log-entry {
  font-size: 0.8rem;
}
#button-top-container button {
  font-size: 0.75rem;
}
.player-hand-card {
  /* set width here */
}
.last-card-played,
.deck-card {
  padding: 5px;
  border-width: 5px;
  border-style: solid;
}

.player-hand-card:hover {
  margin-top: -2%;
}

.first-played-card {
  margin-left: 0;
}

@media (max-width: 768px) {
  .action-button {
    padding: .5rem;
    line-height: 1;
    font-size: .75rem
  }
  .player-hand-card {
    width: 20%;
  }
  .last-card-played,
  .deck-card {
    width: 70%;
  }
  button.uno {
    margin: 0 10px;
  }
}
.left-game {
  border: 2px solid red;
}

.animation-block-shine {
  animation-name: greenPulseBlock;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes greenPulseBlock {
  from {
    background-color: #c0ff02;
    box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #4b610b;
    box-shadow: 0 0 18px #91bd09;
  }
  to {
    background-color: #c0ff02;
    box-shadow: 0 0 9px #333;
  }
}

.animation-text-shine {
  animation-name: greenPulseText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes greenPulseText {
  from {
    color: #c0ff02;
    border: 1px solid #c0ff02;
  }
  50% {
    color: #4b610b;
    border: 1px solid #4b610b;
  }
  to {
    color: #c0ff02;
    border: 1px solid #c0ff02;
  }
}
