<!-- Container for sidebar(s) + page content -->
<app-navbar *ngIf="sidebarSettings.showNavbar"></app-navbar>
<ng-sidebar-container class="fill-viewport-100">
  <!-- A sidebar -->
  <ng-sidebar
    [autoFocus]="false"
    [(opened)]="isSidebarOpen"
    [sidebarClass]="getSidebarBackgroundClass()"
    [position]="'bottom'"
    [closeOnClickOutside]="closeOnClickOutside && !sidebarSettings.keepSidebarOpen"
  >
    <div class="row">
      <div class="col-12">
        <app-game-tabs [sidebarChatHeight]="sidebarSettings.sidebarSize" (dropdownOpenChange)="dropdownOpenChange($event)"></app-game-tabs>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="row" id="button-top-container">
      <div class="col-4">
        <button class="btn btn-danger btn-block" (click)="exitGame()">
          Exit Game
        </button>
      </div>
      <div class="col-4">
        <button
          type="button"
          class="btn btn-block  btn-success"
          [ngClass]="{ 'animation-block-shine': numberUnreadMessages > 0 }"
          (click)="toggleGameChatSidebar()"
        >
          Chat
          <span [hidden]="numberUnreadMessages == 0" class="badge badge-light">{{ numberUnreadMessages }}</span>
        </button>
      </div>
      <div class="col-4">
        <button class="btn btn-info btn-block" (click)="openGameInfoModal()">Game Info</button>
      </div>
    </div>
    <div class="row" id="game-short-info">
      <div class="col-12">
        <hr />
        <p class="text-center">
          <span
            *ngFor="let player of game.players"
            [ngClass]="{
              'text-primary font-weight-bold': player.id == game.playerToPlay.id,
              'left-game': player.leftGame,
              'animation-text-shine': player.id == game.playerToPlay.id && currentUser.name == player.user.name
            }"
            >{{ getDirectionStringFromGame() }} <span [hidden]="game.gameSetup.playersSetup != 2">[T{{ player.teamNumber }}]</span>
            {{ player.user.name }}({{ player.numberOfCards }}){{ getDirectionStringFromGame() }}
          </span>
        </p>
      </div>
      <div class="col-12">
        <hr />
        <p class="text-center log-entry" [ngClass]="getLogColor(log)" *ngFor="let log of gameLog | slice: 0:3">*{{ log }}</p>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="d-flex justify-content-around">
          <div>
            <img class="last-card-played" [style.borderColor]="getBorderColor()" [src]="game.lastCardPlayed.imageUrl" alt="" />
          </div>
          <div class="d-flex align-items-center flex-column">
            <div class="mb-auto p-1">
              <button class="btn btn-primary btn-md action-button" [ngClass]="{ 'animation-block-shine': mustCallUno }" (click)="callUno(true)">Uno!</button>
              <p [hidden]="!mustCallUno">{{timeLeftCallUno}}</p>
            </div>
            <div class="p-1" *ngIf="game.gameSetup.playersSetup == 2 && game.gameSetup.canSeeTeammatesHandInTeamGame && !isSpectator()">
              <button class="btn btn-success btn-md action-button" (click)="seeTeammatesCards()">Team cards</button>
            </div>
          </div>
          <div>
            <img (click)="drawCard()" class="deck-card" src="/images/cards/small/card_back_alt.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isSpectator()">
      <div class="col-12 p5 text-center">
        <hr />
        <img
          *ngFor="let card of myCards"
          (click)="playCard(card)"
          [src]="card.imageUrl"
          placement="top"
          container="body"
          [disableTooltip]="!userSettings.showNewbieTips"
          [ngbTooltip]="card.description"
          class="player-hand-card animate"
        />
      </div>
    </div>
    <div class="row" *ngIf="isSpectator() && game.gameSetup.spectatorsCanViewHands">
      <hr />
      <div class="col-12 text-center" *ngFor="let cardsAndUser of spectatorsViewCardsAndUser">
        <h6 [ngClass]="{ 'animation-text-shine font-weight-bold': cardsAndUser.key == game.playerToPlay.user.name }">
          {{ cardsAndUser.key }}
        </h6>
        <img
          *ngFor="let card of cardsAndUser.value"
          [src]="card.imageUrl"
          placement="top"
          container="body"
          [disableTooltip]="!userSettings.showNewbieTips"
          [ngbTooltip]="card.description"
          class="spectator-hand-card"
        />
      </div>
    </div>
  </div>
</ng-sidebar-container>
