<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Setup the game</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="form-group row">
        <label for="gameType" class="col-7 col-form-label">Players setup</label>
        <div class="col-5">
          <select [(ngModel)]="gameSetup.playersSetup" class="form-control form-control-sm" id="playersSetup">
            <option value="1">Individual</option>
            <option value="2">Teams</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="gameType" class="col-7 col-form-label">Game type
          <span [placement]="['top', 'auto']" class="text-primary cursor-pointer lead" [container]="'body'" [ngbPopover]="gameTypeBody" [popoverTitle]="gameTypeTitle">
            &#9432;
          </span>
        </label>
        <div class="col-5">
          <select [(ngModel)]="gameSetup.gameType" class="form-control form-control-sm" id="gameType">
            <option value="1">Classic</option>
            <option value="2">Special</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="playuntil" class="col-7 col-form-label">Rounds to win</label>
        <div class="col-5">
          <select [(ngModel)]="gameSetup.roundsToWin" class="form-control form-control-sm" name="playuntil" id="playuntil">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-7 col-form-label">Password</label>
        <div class="col-5">
          <input type="password" [(ngModel)]="gameSetup.password" class="form-control" autocomplete="off" name="password" id="password" placeholder="(optional)" />
        </div>
      </div>

      <div class="alert alert-primary cursor-pointer" style="margin-top:20px;" *ngIf="hideAdvancedOptions" (click)="hideAdvancedOptions=false">
        Show advanced settings &#9660;
      </div>

      <div [ngbCollapse]="hideAdvancedOptions" [@expandCollapse]="hideAdvancedOptions ? 'closed' : 'open'">
        <hr>
        <div class="form-group row" [hidden]="gameSetup.gameType==1">
          <label for="numberOfStandardDecks" class="col-7 col-form-label">No. of standard uno decks</label>
          <div class="col-5">
            <select [(ngModel)]="gameSetup.numberOfStandardDecks" class="form-control form-control-sm" id="numberOfStandardDecks">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="maxNumberOfPlayers" class="col-7 col-form-label">Max No. of players</label>
          <div class="col-5">
            <select [(ngModel)]="gameSetup.maxNumberOfPlayers" class="form-control form-control-sm" id="maxNumberOfPlayers">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="drawTwoFourShouldSkipTurn" class="col-8">Draw two/four skips:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.drawFourDrawTwoShouldSkipTurn" id="drawTwoFourShouldSkipTurn"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="reverseShouldSkipTurnInTwoPlayers" class="col-8">Reverse skips in 2 players:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.reverseShouldSkipTurnInTwoPlayers" id="reverseShouldSkipTurnInTwoPlayers"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="matchingCardStealsTurn" class="col-8">Matching card steals turn:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.matchingCardStealsTurn" id="matchingCardStealsTurn"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="drawAutoPlay" class="col-8">Draw auto play:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.drawAutoPlay" id="drawAutoPlay"></ui-switch>
          </div>
        </div>
        <div class="form-group row" [hidden]="gameSetup.playersSetup != 2">
          <label for="name" for="canSeeTeammatesHandInTeamGame" class="col-8">Can see teammates cards:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.canSeeTeammatesHandInTeamGame" id="canSeeTeammatesHandInTeamGame"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="spectatorsCanViewHands" class="col-8">Spectator can view hands:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.spectatorsCanViewHands" id="spectatorsCanViewHands"></ui-switch>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" for="wildCardCanBePlayedOnlyIfNoOtherOptions" class="col-8">Wilds playable only as must:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.wildCardCanBePlayedOnlyIfNoOtherOptions" id="wildCardCanBePlayedOnlyIfNoOtherOptions"></ui-switch>
          </div>
        </div>
        <div class="form-group row" [hidden]="gameSetup.gameType == 1">
          <label for="name" for="limitColorChangingCards" class="col-8">Limit color changing cards:</label>
          <div class="col-4 text-center">
            <ui-switch class="form-check-input" size="small" [(ngModel)]="gameSetup.limitColorChangingCards" id="limitColorChangingCards"></ui-switch>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <label for="gameType" class="col-7 col-form-label">Restore default settings</label>
        <div class="col-5">
          <button class="btn btn-sm btn-block btn-warning" (click)="restoreDefaults(true)">Default settings</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr />
      <button class="btn btn-lg btn-block btn-info" (click)="confirm()">Confirm</button>
    </div>
  </div>
</div>





<ng-template #gameTypeTitle>
  <p [hidden]="gameSetup.gameType!=2"> Special Wild Mode</p>
  <p [hidden]="gameSetup.gameType!=1"> Classic Mode</p>
</ng-template>

<ng-template #gameTypeBody>
  <p [hidden]="gameSetup.gameType!=2">
    There are many new cards added to this game. They mostly fall into 4 groups:
    <br>
    - Positive cards - Cards that have positive effect on the holder. Can be played anytime.
    <br>
    - Negative cards - Cards that have negative effect on the holder. Can be played only under special condition.
    <br>
    - Neutral cards - Cards that can have both positive or negative effect, depending on the setup of the game and the cards.
    <br>
    - Gambling cards - Cards that relay on the luck, mostly based on rolling a dice.
  </p>
  <p [hidden]="gameSetup.gameType!=1">
    Classic uno card game with only 2 wild cards (Wild and draw 4).
  </p>
</ng-template>